<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.i3ullit.resermaster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.i3ullit.resermaster.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
  <!--      TECH_DISCOVERED has a lower priority than NDEF_DISCOVERED. Due to that fact, the app is started directly. 2014-02-27 WiR   
  
  			<intent-filter>
        		<action android:name="android.nfc.action.TECH_DISCOVERED" />
    		</intent-filter>
 
   			<meta-data
        		android:name="android.nfc.action.TECH_DISCOVERED"
        		android:resource="@xml/nfc_tech_filter" /> -->
        		
        	<intent-filter>
   	 			<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
    			<category android:name="android.intent.category.DEFAULT"/>
    			<data android:mimeType="text/plain" />
			</intent-filter>
        		
        	</activity>

        
        <activity
            android:name="ch.i3ullit.resermaster.DeveloperActivity"
            android:label="@string/title_activity_developer" >
        </activity>
    </application>
    
    

</manifest>
